<div class="container">

  <div class="d-flex justify-content-center">
    <div *ngIf="isLoading" class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading" class="my-3 p-3 bg-body rounded shadow-sm">
    
    <h1 class=" border-bottom pb-2 mb-0 text-2xl font-bold mb-4">Список Сотрудник</h1>

    <div *ngIf="employeeService.employees && !isLoading">
      <app-employee-list [employees]="employeeService.employees"></app-employee-list>
    </div>
  
    <app-modal *ngIf="modalService.isVisible$ | async" title="Создать сотрудника">
      <app-create-employee></app-create-employee>
    </app-modal>
  </div>
  
  <button class="btn btn-primary rounded-circle position-fixed bottom-0 end-0 m-3" style="width: 50px; height: 50px;"
    (click)="modalService.open()">
    <svg width="16" height="16" fill="currentColor" class="bi bi-plus-lg mb-1" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg>
  </button>
  
</div>



