<div *ngIf="employees.length === 0"><p>Список пуст...</p></div>
<div *ngIf="employees.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Должность</th>
        <th scope="col">Нагрузка</th>
        <th scope="col">Действие</th>
      </tr>
    </thead>
    
    <tbody *ngFor="let employee of employees; let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{employee.fullName}}</td>
        <td>{{employee.positionName}}</td>
        <td>{{employee.load}}</td>
        <td>
          <button class="btn btn-primary w-25" (click)="editUser(employee.id)" >Изменить</button>
          <button class="btn btn-danger ms-2 w-25" (click)="employeeService.delete(employee.id)">Удалить</button>
        </td>
      </tr>     
    </tbody>
</table>

<app-modal *ngIf="modalService.isVisible$ | async" title="Редактирование">
  <app-update-employee [editingEmployeeId]="editedEmployeeId"></app-update-employee>
</app-modal>

</div>