@using System.ComponentModel.DataAnnotations;

@typeparam T
    
<table class="table">
    <thead>
        <tr class="">
            @foreach (var property in typeof(T).GetProperties())
            {
                <th scope="col">@property.CustomAttributes.First().NamedArguments.First().TypedValue.Value</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Value)
        {
            <tr>
                @foreach (var property in typeof(T).GetProperties())
                {
                    <td scope="col">@property.GetValue(item)</td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<T> Value { get; set; } = null!;
}
