
<p *ngIf="isLoading">Loading....</p>
<div *ngIf="!isLoading">
  <form class="row g-3" (ngSubmit)="update()">
  
    <div class="col-md-6">
      <label for="inputName" class="form-label">Имя</label>
      <input type="text" class="form-control" id="inputName" [(ngModel)]="editingEmployee.name" name="name">
    </div> 
    
    <div class="col-md-6">
      <label for="inputSurname" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="inputSurname" [(ngModel)]="editingEmployee.surname" name="surname">
    </div>
    
    <div class="col-md-6">
      <label for="inputLastname" class="form-label">Отчество</label>
      <input type="text" class="form-control" id="inputLastname" [(ngModel)]="editingEmployee.lastname" name="lastname">
    </div>
    
    <div class="col-md-6">
      <label for="inputState" class="form-label">Должность</label>
      <div *ngIf="departmentService.positions">
        <select id="inputState" class="form-select" [(ngModel)]="editingEmployee.positionId" name="positionid">  
          <option *ngFor="let position of departmentService.positions" value={{position.id}}>{{position.title}}</option>
        </select>
      </div>
    </div>
  
    <button class="btn btn-primary float-left" type="submit">Изменить</button>
  
  </form>
</div>


