<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Load Managment</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employees">Сотрудники</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="subjects">Предметы</a>
        </li>
      </ul>
    </div>
  </div>
</nav>